@import "../../../App.scss";

.formInput_container {
    width: 100%;
    height: 100vh;
    @extend %flex_center;
}

.login_page {
    width: 100%;

    .logo_img {
        text-align: center;

        img {
            width: 65px;
            height: 65px;
        }
    }

    h1 {
        text-align: center;
        color: $primary-color;
        font-size: 40px;
        margin: 0px 0px;
    }

    h2 {
        font-size: 25px;
        font-weight: 700;
    }
}

.login_form {
    width: 90%;
    margin: auto;
    padding: 30px 0px;

    form {
        width: 90%;
        margin: auto;

        .ant-input {
            margin-top: 6px !important;
        }

        .forgot_password {
            .ant-btn-link {
                color: $primary-color;

                &:hover {
                    color: #000;
                }
            }

            .ant-btn {
                padding: 4px 0px;
                font-weight: 600;
                font-size: 16px;

            }
        }
    }
}

.validation_error {
    color: map-get($colors, "red-danger");
}

.login_btn {
    text-align: center;

    button {
        padding: 8px 20px;
        border: 0;
        font-size: 22px;
        font-weight: 600;
        background-color: $primary-color;
        border-color: $primary-color;
        color: map-get($colors, "white");
        cursor: pointer;
        margin-top: 30px;

        &:hover {
            background-color: map-get($colors, "blue");
        }
    }
}

.input_container {
    margin-bottom: 15px;
}

.form_label {
    font-weight: 600;
    font-size: 16px;
}

.login_pg_img {
    background-color: turquoise;
    width: 100%;
    height: 100%;
}

//tablet
//767px
@include m_md {
    .login_pg_img {
        display: block;
    }
}

//600px
@include x_md {
    .login_pg_img {
        display: none;
    }
}


//320px
@include xs {
    .login_pg_img {
        display: none;
    }
}

//Tab
//768px
@include md {
    .login_pg_img {
        display: block;
    }
}